<p id="notice"><%= notice %></p>

<h1>Scripts</h1>
<hr/>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Parameters</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @scripts.each do |script| %>
      <tr>
        <td><%= script.id %></td>
        <td><%= script.name %></td>
        <td><%= link_to 'Run', :controller => 'scripts', :action => 'run', :id => script %></td>
        <td><%= link_to 'Show', script %></td>
        <td><%= link_to 'Edit', edit_script_path(script) %></td>
        <td><%= link_to 'Destroy', script, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Script', new_script_path %>
