<h1>Runnixng Script</h1>

<%= form_for(@script, :url => url_for(:controller => 'scripts', :action => 'show', format: :csv), :html => { :method => :get }) do |f| %>
	<hr>
	  <% @script.all_params.each do |p| %>

		<div class="field">
		    <%= f.label p %>
		    <%= f.text_field p %>
		 </div>

	<% end %>

	<div class="actions">
		 <%= f.submit %>
	    
	</div>

<% end %>

<%= link_to 'Back', scripts_path %>